<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="RadioPi Web App" />
    <meta name="author" content="Enrique Arias" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>RadioPi Web - Components</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script type="module" src="../scripts/radio-browser-components.js"></script>
    <style>
      .item {
        height: 200px;
        width: 200px;
      }

      .item span {
        vertical-align: middle;
        display: inline-block;
        line-height: 200px;
        width: 200px;
        text-align: center;
        background-color: cadetblue;
      }
    </style>
  </head>

  <body>
    <horizontal-list>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
      <div class="item">
        <span>200 X 200</span>
      </div>
    </horizontal-list>
  </body>
</html>
