<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="RadioPi Web App" />
    <meta name="author" content="Enrique Arias" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>RadioPi Web - Components</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script type="module" src="../scripts/radio-browser-components.js"></script>
    <script>
      let playing = false;

      function load() {
        document
          .querySelector("station-card")
          .addEventListener("play-station", function (ev) {
            console.log(ev);
            playing = true;
          })
          .addEventListener("stop-station", function (ev) {
            console.log(ev);
            playing = false;
          });
      }
    </script>
  </head>

  <body onload="load()">
    <station-card
      img="https://cdn.radiofrance.fr/s3/cruiser-production/2017/06/d1d4a0e0-282f-434a-879d-9075905e12f9/200x200_fmwebradiosnormalplus.jpg"
      title="Radio France Musique"
    />
  </body>
</html>
