<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="RadioPi Web App" />
    <meta name="author" content="Enrique Arias" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>RadioPi Web - Components = GridList</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script type="module" src="../scripts/radio-browser-components.js"></script>
    <style>
      grid-list {
        background-color: DodgerBlue;
      }
      grid-list div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }
    </style>
  </head>

  <body>
    <stations-grid-list>
      <station-card
        img="http://static.bfmtv.com/ressources/img/header/rmc.png"
        title="RMC"
        id="8874e7fc-4354-11e8-b74d-52543be04c81"
      ></station-card>
      <station-card
        img="http://static.bfmtv.com/ressources/img/header/rmc.png"
        title="RMC"
        id="8874e7fc-4354-11e8-b74d-52543be04c81"
      ></station-card>
      <station-card
        img="http://static.bfmtv.com/ressources/img/header/rmc.png"
        title="RMC"
        id="8874e7fc-4354-11e8-b74d-52543be04c81"
      ></station-card>
      <station-card
        img="http://static.bfmtv.com/ressources/img/header/rmc.png"
        title="RMC"
        id="8874e7fc-4354-11e8-b74d-52543be04c81"
      ></station-card>
      <station-card
        img="http://static.bfmtv.com/ressources/img/header/rmc.png"
        title="RMC"
        id="8874e7fc-4354-11e8-b74d-52543be04c81"
      ></station-card>
      <station-card
        img="http://static.bfmtv.com/ressources/img/header/rmc.png"
        title="RMC"
        id="8874e7fc-4354-11e8-b74d-52543be04c81"
      ></station-card>
      <station-card
        img="http://static.bfmtv.com/ressources/img/header/rmc.png"
        title="RMC"
        id="8874e7fc-4354-11e8-b74d-52543be04c81"
      ></station-card>
      <station-card
        img="http://static.bfmtv.com/ressources/img/header/rmc.png"
        title="RMC"
        id="8874e7fc-4354-11e8-b74d-52543be04c81"
      ></station-card>
      <station-card
        img="http://static.bfmtv.com/ressources/img/header/rmc.png"
        title="RMC"
        id="8874e7fc-4354-11e8-b74d-52543be04c81"
      ></station-card>
    </stations-grid-list>
  </body>
</html>
