<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="RadioPi Web App" />
    <meta name="author" content="Enrique Arias" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>RadioPi Web - Components</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script type="module" src="../scripts/radio-browser-components.js"></script>
  </head>

  <body>
    <stations-horizontal-list />
  </body>
</html>
