body {
  font-family: var(--font-family-secondary);
}

main {
  margin-left: 0;
  overflow: auto;
  padding-top: 49px;
}

nav-sidebar {
  width: 200px;
}

@media only screen and (min-width: 768px) {
  main {
    margin-left: 200px;
    padding-top: 0;
  }
}

.open-sidebar {
  display: block !important;
}
