:root {
  --font-size: 15px;
  --font-family-primary: "Segoe UI", Verdana, sans-serif;
  --font-family-secondary: "Source Sans Pro", Arial, sans-serif;
  --font-family-ternary: "Anton", Verdana, sans-serif;
  --font-weight: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --color-primary: #0f2527;
  --color-secondary: #ffcfb8;
  --color-ternary: #fff;
}
