:root {
  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: .875rem;
  --font-size-7: .75rem;
  --font-family-primary: "Segoe UI", Verdana, sans-serif;
  --font-family-secondary: "Source Sans Pro", Arial, sans-serif;
  --font-family-ternary: "Anton", Verdana, sans-serif;
  --font-weight: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --color-primary: #0f2527;
  --color-secondary: #ffcfb8;
  --color-ternary: #fff;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}
